{%extends "admin.html"%}
{%block content%}
<section class="position-relative py-4 py-xl-5">
    <div class="container position-relative">
        <div class="row d-flex justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-5 col-xxl-4">
                <div class="card mb-5">
                    <div class="card-body p-sm-5">
                        <h2 class="text-center mb-4">Add New Service</h2>
                        <form method="POST" action="/add_service/{{name}}">
                            <div class="mb-3"><input id="name" class="form-control" type="text" name="name" placeholder="Service" /></div>
                            <div class="mb-3"><input id="price" class="form-control" type="number" name="price" placeholder="Base Price" /></div>
                            <div class="mb-3"><textarea id="desc" class="form-control" name="desc" rows="6" placeholder="desc"></textarea></div>
                            <div> <button class="btn btn-primary d-block w-100" type="submit">
                                    <b>Add</b>
                                  </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{%endblock%}