{%extends "user.html"%}
{%block content%}
    <div class="container">
        <div class="row mb-3">
        <div class="col-lg-8">
            <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Summary</h5>
                <h6 class="card-subtitle mb-2 text-muted">Professionals/Rating</h6>
                <img src="./static/summary/prof_rating_summary.jpeg" width="400" height="400">
            </div>
            </div>
        </div>
        </div>
    </div>
{%endblock%}